%p#notice= notice

%p
  %b Name:
  = @channel.name
%p
  %b Subscription token:
  = @channel.subscription_token
%p
  %b Push token:
  = @channel.push_token

= link_to 'Edit', edit_channel_path(@channel)
\|
= link_to 'Back', channels_path
